@import "tailwindcss";
@import "flowbite";

@theme {
  --font-IMBPlexArabic: "IBM Plex Sans Arabic", sans-serif;
  --font-Rubik: "Rubik", sans-serif;
  --font-Cairo: "Cairo", sans-serif;
}
.floating-input::placeholder {
  opacity: 0;
  transition: opacity 50ms ease; /* مدة الانتقال عند الإخفاء/الإظهار */
}

/* عند التركيز والحقل لا يزال فارغًا (placeholder-shown) نعرض placeholder بعد تأخير
   التأخير يجعل اللايبل يترفع أولاً ثم يظهر الـ placeholder */
.floating-input:focus:placeholder-shown::placeholder {
  opacity: 1;
  transition-delay: 50ms; /* عدّل القيمة لتزامن أفضل مع حركة اللايبل */
}
